body{
    display:grid;
    background-color: lavender;
    grid-auto-columns: 50% 50% 20%;
    grid-template-areas: "mappanel sidepanel header"; 
    grid-template-rows: sidepanel;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5%;

    
}
#grid{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
#mapArea{
    height:100vh;
    grid-area: mappanel;
    grid-template-columns: subgrid;
    grid-column-start: 1;
  grid-column-end: 1;
   
} 
#header{
    font-size: 45px;
    font-family: monospace;
    background-color:  lavender;
    font-weight: 600;
    grid-template-areas: header;
}

#survey{
    grid-area: sidepanel;
    background-color: lavender;
    grid-area: survey;
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 0%;
    position: relative;
    font-family:monospace;
    font-style: italic;
    font-size: 25px;
    grid-column-start: 3;
  grid-column-end: 3;
    
} 

#survey iframe {
    border: 0;
    height: 100%;
    left: 1;
    position: absolute;
    top: 0;
    width: 100%;
    
 }

#contents{
    /* this gives the name to our area */
    grid-area: sidepanel;
    background-color: lavender;

}
.grid-container {
    display: grid;
    grid-gap: 10px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  