body{
    display:grid;
    grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr; /* this creates an even two column layout*/
    grid-template-areas: 
            "b b a"
            "b b c"
            "b b c";
            background-image: linear-gradient(to bottom right, rgb(153, 204, 233), rgb(250, 242, 168));
}

#mapArea{
    height:100vh;
    width:120vh;
    grid-area: b;
    border:2px solid black;
    z-index: 1;
} 

#survey{
    grid-area: sidepanel;
} 
#info {
    text-overflow: hidden;
    word-wrap: break-word;
    border:0px solid rgb(0, 0, 0);
    font-family:fantasy;
}
#buttonrandom{
    grid-area: c;
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(69, 148, 212);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height:200px;
    width:200px;
    position: relative;
    
}

#link1{
    border:2px solid black;
    grid-area: a;
    background-color: #4fa3f1; /* Green */
    border: none;
    color: white;
    padding-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    height:50px;
    width:50px;
    position: relative;
    white-space: normal;
    padding-bottom: 25px;
    
}
.modal {
    display:inherit; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(124, 92, 92); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #d7d0ff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 30%;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
.modal-header {
  padding: 2px 16px;
  background-color: #a4e7fc;
  color: rgb(11, 3, 58);
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f1f8b2;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

  