html, body {
    padding: 5px;
 }

 body {
     display: grid;
     grid-template-rows: .1fr .40fr .60fr .05fr;
     grid-template-columns: 1fr;
     grid-template-areas: "header" "main" "map"  "footer";
     justify-content: center;
 }

 header {
    grid-area: header;
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    justify-content: center;
 }

.main {
    display: grid;
    grid-area: main;
    background-color:palevioletred;
}

#map {
    grid-area: map;
    height: 70vh;
    color:rgb(74, 38, 83);
}

#footer {
    grid-area: footer;
}
body{
    background-color:rgb(226, 214, 236);
}

header{
    color:rgb(212, 62, 112);
    background-color: rgb(229, 196, 238);
}

#footer{
    background-color:rgb(100, 43, 100);
}